{%extends "main_app/layout.html"%}
{%load static%}
{%block 'zirmenu'%}
<div class="container">
    <ul class="breadcrumb bg-white mt-4 ">
        {%for item in c1%}
        <li class="breadcrumb-item"><a href="#" class="font-12 vazir">صفحه اصلی</a></li>
        <li class="breadcrumb-item"><a href="#" class="pr-2 font-12 vazir">دوره های آموزشی</a></li>
        <li class="breadcrumb-item"><a href="#" class="pr-2 font-12 vazir">{{item.title}} </a></li>
        {%endfor%}
    </ul>
</div>
{%endblock%}   


{%block 'vasat'%}
<div class="container">
    <div class="row">

        <div class="col-md-4 mb-3">
            {%for item in c1%}
            <img src="{{item.image.url}}"  class="img-fluid" alt="HTML">
            <ul class="list-group text-center list-group-flush custom-list-group">
                
                <li class="list-group-item font-13"> عنوان دوره: {{item.title}}</li>
                <li class="list-group-item font-13"> عنوان کتاب: {{item.book}}</li>
                <li class="list-group-item font-13">مدرس: {{item.teacher}} </li>
                <li class="list-group-item font-13">وضعیت دوره : {{item.get_is_active_display}}</li>
                <li class="list-group-item font-13">قیمت دوره : {{item.price}} تومان</li>
 
            </ul>
            <button class="btn btn-info btn-block mt-3 py-2 font-12">
                <i class="fa fa-cart-plus align-middle"></i>
                <a href="/addcart/{{item.id}}" class="text-white text-decoration-none">افزودن به سبد خرید</a>
            </button>
           
            {%endfor%}
        </div>

        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header bg-white px-0 course-table">
                    <ul class="nav nav-justified pr-0">
                        <li class="nav-item"><a href="#course-info" class="nav-link active font-14" data-toggle="list"> نمونه فیلم تدریس دوره</a></li>
                        <li class="nav-item"><a href="#comment" class="nav-link font-14" data-toggle="list">پرسش و پاسخ دوره</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="course-info"><!-- Start course info -->
                            {% for item in c1 %}
                            <h1 class="mb-3 text-info">{{item.title}}</h1>
                            {% with item.videos.first as itm %}
                            {% if itm %}
                            <video src="{{ itm.video_file.url }}" controls class="embed-responsive embed-responsive-item"></video>
                            {% endif %}
                            {% endwith %}
                            <p class="text-justify course-text vazir font-14 my-5">
                                آموزش صفر تا صد خط به خط کتاب درسی همراه با
                                 حل نمونه سوالات پایان هر درس و سوالات امتحانات نهایی سال های اخیر. 
                            </p>
                            {% endfor %}

                            <h6 class="mb-3 mt-3">سر فصل ها :</h6>
                        {%for item in c1%}        
                            {% for chapter in item.book.chapters.all %}
                            <div class="mb-2 course-items px-2 py-4 d-flex align-items-center">
                                <span class="bg-info count text-center text-white mr-3 font-13">{{ forloop.counter }}</span>
                                <span class="mr-3 font-13">{{ chapter.title }}</span>
                            </div>
                            {%endfor%}
                        {%endfor%}    
                        </div><!-- End course info -->

                        <div class="tab-pane fade" id="comment"><!-- Start comment -->
                
                            
                {% if messages%}
                    {% for message in messages%}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
 
                <form id="rating-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col form-group">
                            {{f.name}}
                        </div>
                        <div class="col form-group">
                            {{f.email}}
                        </div>
                    </div>    
                        <div class="form-group">
                            {{f.message}}
                        </div>
                            {{f.rating}}           
                        <section class='rating-widget mt-2'>
                            <div class='rating-stars'>
                                <ul id='stars'>
                                          {% for i in "12345" %}
                                    <li class='star' data-value='{{ i }}'>
                                     <i class='fa fa-star fa-fw'></i>
                                    </li>
                                              {% endfor %}
                                </ul>
                            </div>
                        </section>

                    <p id="rating-error" style="color: red; display: none;">لطفاً امتیاز خود را انتخاب کنید.</p>
    
                    <button type="submit" class="btn btn-primary rounded-pill mr-auto d-block font-13">ارسال</button>
                </form>   
                                {% if positive_feedbacks %}
                                 {% for feedback in positive_feedbacks %}
                                <div class="bg-light my-3 p-2 pb-4">
                                    <div class="d-flex align-items-center">
                                        <p class="text-danger mb-0 vazir font-13">{{ feedback.name }}</p>
                                        <small class="mx-5 text-muted">{{ feedback.created_at}}</small>
                                    </div>
                                    <p class="text-justify my-2 vazir font-13">{{ feedback.message }}</p>
                                </div>
                                {% endfor %}
                                {% endif %}
                    </div><!-- End comment -->

                </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
            <h6 class="title pb-2">دوره های پیشنهادی</h6>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-3">
    {%for item in same_grade_products %}    
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card custom-card mb-3">
                <div class="sub-layer">
                    <img src="{{item.image.url}}" class="img-fluid card-img-top">
                    <div class="over-layer">
                        <a href="/course/{{item.id}}" class="btn btn-primary"> مشاهده و خرید </a>
                    </div>
                </div>
                <div class="card-body">
                    <a href="/course/{{item.id}}" class="card-link"> {{item.title}} </a>
                    <p class="text-justify card-text vazir font-14 mt-3">
                        {{item.description}}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="float-left">
                        <del class="text-muted font-13">{{item.price}} تومان</del>
                        <small class="text-success mr-2">{{item.discount_price}} تومان</small>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
</div>
{%endblock%}

