<!DOCTYPE html>
<html lang="fa">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بازیابی رمز عبور</title>
    <link rel="stylesheet" href="{%static 'main_app/'%}css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'main_app/'%}css/bootstrap/bootstrap-rtl.css">
    <link rel="stylesheet" href="{%static 'main_app/'%}css/fontawesome/css/all.css" >
    <link rel="stylesheet" href="{%static 'main_app/'%}css/customcss/style.css">
</head>

<body>
    <div class="container"><!----- Start forget password box ----->
        <div class="row d-flex justify-content-center">

            <div class="col-lg-7 col-xl-6 col-md-9 register">

                <div class="card my-5">

                    <div class="card-body">
                        <h5 class="shadow-sm text-center mb-4 py-3">بازیابی رمز عبور</h5>
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <span class="fs-6">نام کاربری:</span><br/>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-user-plus align-middle"></i></span>
                                    </div>
                                    {{f.username}}
                                </div>
                            </div>
                
                            <div class="form-group">
                                <span class="fs-6"> ایمیل: </span><br/>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-envelope align-middle"></i></span>
                                    </div>
                                    {{f.email}}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block rounded-pill custom-btn font-13 mt-4">بازیابی رمز </button>
                                    
                        </form>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div><!----- End forget password box ----->
    
    <script src="{%static 'main_app/'%}js//jquery-3.3.1.min.js"></script>
    <script src="{%static 'main_app/'%}js//popper.min.js"></script>
    <script src="{%static 'main_app/'%}js//bootstrap.min.js"></script>
    <script src="{%static 'main_app/'%}js//myscript.js"></script>
</body>
</html>