{%extends "main_app/layout.html"%}
{%load static%}
{%block 'vasat'%}
    <!----- Start middle box ----->
    <div class="d-none d-md-flex middle-box">
        <div class="container">
            <div class="row d-flex justify-content-end">
                <div class="col-md-6 text-center">
                    <h2  class="text-center text-info my-5 pt-3"> </h2>

                    <p class="text-center pt-1 mb-3">
                        زندگي زيباست، زيبايي زندگي به رياضيات است و زيبايي رياضيات به هندسه و زيبايي

هندسه به يك نقطه و زيبايي نقطه به هيچ. 
                    </p>
                    <p>
                        (انیشتین)
                    </p>
                    <a href="#" class="btn py-3 px-4 btn-outline-info mt-4 ml-2" id="btn1">شروع کنید</a>
                    <a href="#" class="btn py-3 px-4 mt-4" id="btn2">همه دوره ها</a>

                </div>
            </div>
        </div>
    </div>
    <!----- End middle box ----->

    <!----- Start category box ----->
    <div class="container">
        <div class="row my-5">

            <div class="col-md-3 col-sm-6">
                <div class="card box border-0 shadow mb-3" id="box1">
                    <img src="{%static 'main_app/'%}images/edu1.png" alt="education" class="my-2 mx-auto d-block">
                    <a href="/category" class="text-center text-white my-2 d-block"> دوره های آموزشی </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card box border-0 shadow mb-3" id="box2">
                    <img src="{%static 'main_app/'%}images/edu2.png" alt="education" class="my-2 mx-auto d-block">
                    <a href="/category" class="text-center text-white my-2 d-block"> نمونه فیلم های آموزشی </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card box border-0 shadow mb-3" id="box3">
                    <img src="{%static 'main_app/'%}images/exam1.png" alt="exam" class="my-2 mx-auto d-block">
                    <a href="/category" class="text-center text-white my-2 d-block"> سوالات امتحانات نهایی </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card box border-0 shadow mb-3" id="box4">
                    <img src="{%static 'main_app/'%}images/exam2.png" alt="exam" class="my-2 mx-auto d-block">
                    <a href="/category" class="text-center text-white my-2 d-block">نمونه سوالات فصل به فصل </a>
                </div>
            </div>

        </div>
    </div>
    <!----- End category box ----->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-between">
                <h6 class="title pb-2">جدیدترین دوره های آموزشی</h6>
            </div>
        </div>
    </div>

    <!----- Start Book boxes ----->
    <div class="container my-3">
        <div class="row">
            {% for item in c%}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card custom-card mb-3">
                    <div class="sub-layer">
                        <img src="{{item.image.url}}" alt="Math" class="img-fluid card-img-top">
                        <div class="over-layer">
                            <a href="/course/{{item.id}}" class="btn btn-primary">مشاهده و خرید </a> 
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/course/{{item.id}}" class="card-link"> {{item.title}}</a>
                        <p class="text-justify card-text vazir font-14 mt-3">
                        {{item.description}} 
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="float-left">
                            <del class="text-muted font-13">{{item.price}} تومان</del>
                            <small class="text-success mr-2">{{item.discount_price}} تومان</small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <!----- End Book boxes ----->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-between">
                <h6 class="title pb-2">دوره های آموزشی آینده</h6>
            </div>
        </div>
    </div>

    <!----- Start events ----->
    <div class="container my-3">
        <div class="row">

            <div class="d-none d-lg-block col-lg-6">
                <img src="{%static 'main_app/'%}images/bg-1.png" alt="event" class="img-fluid event-img">
            </div>

            <div class="col-lg-6">

                <div class="events">
                    <a href="/Book" class="d-block mb-3 font-14 text-info">آموزش فصل به فصل حسابان یک </a>
                    <p class="font-13">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                    <span class="text-muted">تاریخ برگزاری : 1399/8/6</span>
                    <a href="/Book" class="btn read-more float-left ml-3">ادامه مطلب</a>
                    <hr>
                </div>

                <div class="events">
                    <a href="/Book" class="d-block mb-3 font-14 text-info">آموزش فصل به فصل حسابان دو</a>
                    <p class="font-13">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                    <span class="text-muted">تاریخ برگزاری : 1399/8/6</span>
                    <a href="/Book" class="btn read-more float-left ml-3">ادامه مطلب</a>
                    <hr>
                </div>

                <div class="events">
                    <a href="/Book" class="d-block mb-3 font-14 text-info"> آموزش فصل به فصل آمار و احتمال</a>
                    <p class="font-13">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                    <span class="text-muted">تاریخ برگزاری : 1399/8/6</span>
                    <a href="/Book" class="btn read-more float-left ml-3">ادامه مطلب</a>
                    <hr>
                </div>

            </div>

        </div>
    </div>
 

    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-between">
                <h6 class="title pb-2">تازه ترین مقالات آموزشی</h6>
            </div>
        </div>
    </div>

    <!----- Start article boxes ----->
    <div class="container">
        <div class="row mt-3 mb-5">
        {%for item in bl%}
            <div class="col-md-6 col-lg-4">
                <div class="card custom-card mb-3 shadow-sm">

                    <img src="{{item.image.url}}" alt="article" class="img-fluid card-img-top">

                    <div class="card-body">
                        <div class="text-center mb-2 mt-2">
                            <a href="/article/{{item.id}}" class="card-link font-14">{{item.title}}</a>
                        </div>
                        <p class="card-text font-13 vazir">
                            
                        </p>
                        <span class="bg-light p-2 text-muted font-12 ">
                            <i class="fa fa-pen ml-1"></i> ادمین
                        </span>
                        <a href="/article/{{item.id}}" class="btn float-left read-more">بیشتر بخوانید</a>
                    </div>

                </div>
            </div>
        {%endfor%}
        </div>
    </div>
    <!----- End article boxes ----->
{%endblock%}
